<aside class="app-related-items" role="complementary">

    <nav role="navigation" aria-labelledby="subsection-title">

        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="https://www.gov.uk/write-business-plan
              " target="_blank">
                    Write a business plan
                </a>(GOV.UK)
                <br />
                <p>
                    Map out your path to success with a business plan.
                    View best-in-class examples, download templates and learn how to create your own.
                </p>
            </li>
            <li>
                <a href="https://www.enterprisenation.com/business-inspiration#stories" target="_blank">
                    Take a one-week course via email
                </a> (Enterprise Nation)
                <br />
                <p>
                    Get seven days’ of practical advice for starting your business, straight to your inbox. Sign up for
                    free at Enterprise Nation.
                </p>
            </li>
            <li>
                <a href="http://www.mentorsme.co.uk" target="_blank">
                    Find a mentor in your area
                </a>(Mentorsme)
                <br />
                <p>
                    Working with a mentor can fast-track your business. Connect with a mentor with relevant experience,
                    skills and contacts
                </p>
            </li>
        </ul>

    </nav>
</aside>