        <div class="govuk-!-padding-bottom-2"></div>
        <div>
        <h2 class="govuk-heading-l" id="subsection-title">
          Recommendations for your business 
        </h2>
        
           <p>
              <a href="https://www.bethebusiness.com/group-event/productivity-through-people/
              " target="_blank">
              Take part in a 12-month course to boost your business’ growth
              </a>
              <br/>
              Learn from industry experts and build a supportive peer network on this year-long programme, designed for small business leaders.  

              <div class="govuk-inset-text">
                “The win from this is better working as a team. If you’re better as a team, you will deliver and the people you’re working with will enjoy work.” Spencer Fereday, Mann Williams
              </div>

               
            </p>
           <p>
            <a href=" http://www.mentorsme.co.uk/" target="_blank">
                Find a business mentor
              </a>
              <br/>
              Working with a business mentor can fast-track your professional development. Find a mentor with experience, skills and contacts that will benefit you and your business.
            
            </p>
            <p>
                <a href="//{{ location.url }}" target="_blank">
                    Join a local business leaders’ network
                </a>
                <br/>
                Share your experiences and learn from others’ expertise through a professional network. Find a local business leaders’ network through your Growth Hub.
            
            </p>
        </div>
        <div class="govuk-!-padding-bottom-9"></div>
