<aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m govuk-!-font-size-19" id="subsection-title">
        How the {{ location.LEP }} Growth Hub can support your business:
    </h2>
    <p>
        Using the Growth Hub, you can:
    </p>
    <nav role="navigation" aria-labelledby="subsection-title">
        <ol class="govuk-list govuk-!-font-size-16">
            <li>
                <p>
                    1. Find sector-specific grants and funding available in your area, and receive guidance on how to apply
                    for them.
                </p>

            <li>
                <p>
                    2. Access the right training and development services to improve your business.
                </p>
            </li>
            <li>
                <p>
                    3. Learn of local networking and business events and connect with your community.
                </p>
            </li>
        </ol>
    </nav>
</aside>