      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m govuk-!-font-size-19" id="subsection-title">
          Recommendations for your business 
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
           <li>
              <a href="https://www.great.gov.uk/export-opportunities/" target="_blank">
                Find exporting opportunities
              </a>
              <br/>
              Overseas buyers are looking for products and services from the UK. Use this tool to find the right export opportunities for your business.
            </li>
           <li>
            <a href="https://www.axa.co.uk/business-insurance/business-guardian-angel/sme-guide-to-landing-public-sector-contracts/" target="_blank">
                Sell to the Public Sector
              </a>
              <br/>
              The UK Government is committed to awarding public sector contracts to small businesses. Learn how to research, price and write winning bids.
            
            </li>
            <li>
                <a href="https://www.great.gov.uk/export-opportunities/" target="_blank">
                    Find talent in your area
                </a>
                <br/>
                Build a team of motivated, skilled individuals by offering apprenticeships. Financial support is available for small businesses like yours.
            
            </li>
          </ul>
        </nav>
      </aside>