      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m govuk-!-font-size-19" id="subsection-title">
          Recommendations for your business 
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
           <li>
              <a href="https://www.bethebusiness.com/group-event/productivity-through-people/
              " target="_blank">
                Join a 12-month course to boost your business’ growth
              </a>
              <br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </li>
           <li>
            <a href=" http://www.mentorsme.co.uk/" target="_blank">
                Find a business mentor
              </a>
              <br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
            </li>
            <li>
                <a href="//{{ location.url }}" target="_blank">
                    Join a local business leaders’ network
                </a>
                <br/>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
            </li>
          </ul>
        </nav>
      </aside>