
    <section class="govuk-tabs__panel " id="fast">
        <h2 class="govuk-heading-l">Fast growing businesses</h2>
        {% if business.stageIndex==2 %}
        <p class="govuk-body">
          Because your business is growing rapidly and has a turnover greater than £200k, 
          you could benefit from services that support growing, scaling and expanding.
        </p>
        {% endif %}
  
  
        <p class="govuk-body">
          Growth is great for your business but it can create a lot of pressure. 
          Your business needs to stay balanced in order to sustain any growth: 
          you can’t serve ten times as many customers with the same number of products. 
        </p>
  
        <p class="govuk-body">
          During this phase, financial support may be what your business needs most. 
          Other options include focusing on innovation and beginning to work with the public sector.
        </p>
  
        <p class="govuk-body">
          We think you’ll be interested in the following services:
        </p>
  
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <strong>Finance support from the British Business Bank</strong>
            <br />
            Equity crowdfunding or angel investor? Invoice financing or sector-specific grant? 
            Use the Finance Hub to learn about finance options and understand which is best for your business.
            <br />
            <a href="https://www.british-business-bank.co.uk/finance-hub/" target="_blank">
              Find out more
            </a>
          </li>
          <br />
          <li>
            <strong>Public sector contract advice from AXA</strong>
            <br />
            The government is committed to awarding public sector contracts to small businesses, 
            and AXA has guidance on how to research, price and write winning bids.
            <br />
            <a href="https://www.axa.co.uk/business-insurance/business-guardian-angel/sme-guide-to-landing-public-sector-contracts/" target="_blank">
              Find out more
            </a>
          </li>
          <br />
          <li>
            <strong>Funding and loans from Innovate UK</strong>
            <br />
            Innovate UK is a government-backed agency that supports businesses with loans and funding worth up to £10 million. 
            Read a detailed overview of how to apply.
            <br />
            <a href="https://www.gov.uk/guidance/innovation-apply-for-a-funding-award" target="_blank">
              Find out more
            </a>
          </li>
          <br />
          <li>
            <strong>Mentorship programmes from Be the Business</strong>
            <br />
            A fast-growing business needs a proven mentor, 
            and Be the Business works with companies such as McKinsey & Company, Amazon and EY. 
            Benefit from a mentor’s experience, network and contacts.
            <br />
            <a href="https://www.bethebusiness.com/mentoring-for-growth/" target="_blank">
              Find out more
            </a>
          </li>
         </ul>
  
  
  
  
  
         <div>
           <br/>
          <h3 class="govuk-heading-m">What else are you looking for?</h3>
          <p class="govuk-body">
            <form id="main" action="" class="form" novalidate>
              <input class="govuk-input govuk-input--width-10" type="text" id="what_else" name="what_else" value=""
                placeholder="" />
              <button type="submit" class="govuk-button" id="submit">
                >
              </button>
            </form>
          </p>
        </div>
  
  
  
  
  
   
  
        
      </section>
  