{% extends "layout_business_support.html" %}
{% block pageTitle %}
  Growth Hub interview confirmation
{% endblock %}

{% block header %}
  {% include "includes/header_business_support.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha_2_bs.html" %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Message sent to</h1>
        <div class="govuk-panel__body">
          <strong>{{ location.LEP }}</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to {{ location.LEP }} growth hub.</p>
      <p>They will contact you to confirm your request, and arrange a conversation.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
