{% if isGOVUK %}
{% extends "layout.html" %}
{% else %}
{% extends "layout_business_support.html" %}
{% endif %}

{% block pageTitle %}
Your Growth Hub
{% endblock %}

{% block header %}
{% if isGOVUK %}
{% include "includes/headerGOV.html" %}
{% else %}
{% include "includes/header_business_support.html" %}
{% endif %}
{% endblock %}

{% block beforeContent %}
{% if isGOVUK %}
{% include "includes/banner_alpha_2.html" %}
{% else %}
{% include "includes/banner_alpha_2.1.html" %}
{% endif %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" id="">Speak to a business adviser
    </h1>

    <div class="govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">

      <p>
        Your local Growth Hub is {{ location.LEP }}. The Growth Hub can provide one-to-one support for your business,
        free of charge.
      </p>
      <p>
        Book an appointment with an expert business adviser.
        Your adviser will get to know your business and make tailored recommendations to help you grow and achieve your
        goals.
        They will also help you find further support that is suitable for your business.
      </p>
      <p>
        Visit the {{ location.LEP }} Growth Hub website to find out more about what’s available.
      </p>

      <p class="document-list__item-description">Website: <a href="//{{ location.url }}"
          target="_blank">{{ location.url }}</a></p>

      <p class="document-list__item-description">Telephone: {{ location.telephone }}</p>

      <p class="document-list__item-description">Email: <a href="mailto:{{ location.email }}">{{ location.email }}</a>
      </p>

    </div>

  </div>


  <div class="govuk-grid-column-one-third">
    <div class="bookmark">
      <section id="text-5" class="widget widget_text">
        <h5 class="widget-title">Bookmark this page</h5>

      </section>
    </div>
    {% include 'includes/related_custom_growthHub2.1.1.html' %}

  </div>

</div>
<iframe src="https://calendly.com/business-alpha/60min?month=2020-03" style="border: 0" width="1024" height="740"
  frameborder="0" scrolling="no"></iframe>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="nl-form" class="nl-form" action="results">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="description-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Already know what you’re looking for?
            </h1>
          </legend>
          <span id="description-hint" class="govuk-hint">
            Select from the options below to view tailored support available to your business.
          </span>
          <div class="govuk-checkboxes">
            {% for item in location.interest %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="description-{{ loop.index }}" name="nl_description"
                type="checkbox" value="{{ item }}">
              <label class="govuk-label govuk-checkboxes__label" for="description-{{ loop.index }}">
                {{ item }}
              </label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>


      <div class="nl-submit-wrap">
        <button class="nl-submit govuk-button" type="submit">Get custom support</button>
      </div>

    </form>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include 'includes/related_custom_growthHub2.1.html' %}
  </div>
</div>


{% endblock %}

{% block footer %}
  {% include "includes/footer2.1.1.html" %}
{% endblock %}