{% if isGOVUK %}
{% extends "layout.html" %}
{% else %}
{% extends "layout_business_support.html" %}
{% endif %}

{% block pageTitle %}
Your Growth Hub
{% endblock %}

{% block header %}
{% if isGOVUK %}
{% include "includes/headerGOV.html" %}
{% else %}
{% include "includes/header_business_support.html" %}
{% endif %}
{% endblock %}

{% block beforeContent %}
{% if isGOVUK %}
{% include "includes/banner_alpha_2.html" %}
{% else %}
{% include "includes/banner_alpha_2.1.html" %}
{% endif %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" id="">Speak to a business adviser
      <!-- in {{ location.region }} -->
    </h1>

    <div class="govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">

      <p>
        Because you've been <strong>trading for over a year</strong>,
        and because your turnover is <strong>over £200k</strong> and has <strong>increased</strong>,
        you may benefit from speaking with a free business adviser at the {{ location.LEP }} Growth Hub.
      </p>
      <p>
        Your adviser will get to know your business and make tailored recommendations to help you grow and achieve your
        goals. They will also help you find further support that is suitable for your business.
      </p>
      <p>
        View availability and book a meeting with your business adviser.
      </p>

      <p class="document-list__item-description">Website: <a href="//{{ location.url }}"
          target="_blank">{{ location.url }}</a></p>

      <p class="document-list__item-description">Telephone: {{ location.telephone }}</p>

      <p class="document-list__item-description">Email: <a href="mailto:{{ location.email }}">{{ location.email }}</a>
      </p>

    </div>

  </div>


  <div class="govuk-grid-column-one-third">
    <div class="bookmark">
      <section id="text-5" class="widget widget_text">
        <h5 class="widget-title">Bookmark this page</h5>

      </section>
    </div>

<!--     {% include 'includes/related_custom_growthHub2.1.html' %} -->

  </div>

</div>
<iframe src="https://calendly.com/examplegrowthhub/60min?month=2020-02" style="border: 0" width="1024" height="740"
  frameborder="0" scrolling="no"></iframe>

  <div class="govuk-grid-row">

    <form id="nl-form" class="nl-form" action="results">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="description-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Growth Hub support:
        </h1>
      </legend>
        <span id="description-hint" class="govuk-hint">
         Pick the type of support you are interested in:  
        </span>
        <div class="govuk-checkboxes">
        {% for item in location.interest %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="description-{{ loop.index }}" name="nl_description" type="checkbox" value="{{ item }}">
          <label class="govuk-label govuk-checkboxes__label" for="description-{{ loop.index }}">
            {{ item }}
          </label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>
      <!-- <p>
        This isn’t an exhaustive list. 
If you’re not sure if your business is eligible, 
please contact us FREE* on 0844 257 84 50. 
If it’s not we’ll link you into other support where it’s available.
      </p> -->
  
  <div class="nl-submit-wrap">
    <button class="nl-submit govuk-button" type="submit">Get custom support</button>
  </div>
  
</form>
  </div>

{% endblock %}