{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layout_business_support.html" %}

{% block pageTitle %}
Finance and support for your business
{% endblock %}

{% block header %}
{% include "includes/header_business_support.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha_2.1.html" %}
{{ super() }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Business and self-employed</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Recommendations</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <h1 class="govuk-heading-xl">
    Recommendations for your business
  </h1>
  <div class="govuk-grid-column-two-thirds">

    <div>
      <p class="govuk-body">
        If you know how well your business is performing,
        you can make informed decisions about the future.
        Find out how your productivity compares with that of similar businesses.
      </p>


    </div>


  </div>
  <div class="govuk-grid-column-one-third">
    <form id="main" action="https://app2.bethebusiness.com/benchmark" method="post" class="form" novalidate>
      <button type="submit" class="govuk-button" id="submit">
        Benchmark your productivity
      </button>
    </form>
  </div>
</div>

<p class="govuk-body govuk-!-margin-bottom-9"></p>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Further resources
      <!-- {{ location.LA }} -->
    </h2>
  </div>
  <div class="govuk-grid-column-one-third">
  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <a class="card-link" href="https://www.bethebusiness.com/group-event/productivity-through-people/
        " target="_blank">
      <img class="card-image" src="../public/images/btb_logo.png" alt="">
      <img class="card-image" src="../public/images/image1.jpg" alt="">
      <div class="card-inner">
        <h3 class="heading-large">Learn from industry</h3>
      </div>
    </a>
    <p>
      Take part in a 12-month course to boost your business’ growth. Learn from industry experts and build a
      supportive peer network on this year-long programme, designed for
      small business leaders.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-9"></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <a class="card-link" href=" http://www.mentorsme.co.uk/" target="_blank">
      <img class="card-image" src="../public/images/mentors.png" alt="">
      <img class="card-image" src="../public/images/image2.jpg" alt="">
      <div class="card-inner">
        <h3 class="heading-large">Find a business mentor</h3>
      </div>
    </a>

    <p>
      Working with a business mentor can fast-track your professional development. Find a mentor with experience,
      skills and contacts that will benefit you and your business.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-9"></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <a class="card-link" href="//{{ location.url }}" target="_blank">
      <img class="card-image" src="../public/images/lincoln2.png" alt="">
      <img class="card-image" src="../public/images/image5.jpg" alt="">
      <div class="card-inner">
        <h3 class="heading-large">Join a local business leaders’ network</h3>
      </div>
    </a>

    <p>
      Share your experiences and learn from others’ expertise through a professional network. Find a local
      business leaders’ network through your Growth Hub.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-9"></p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="">
    <h2 class="govuk-heading-l">
      Business support in {{ location.LEP }}
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Finance ({{ finance | length }})
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-1">
          {% if finance.length>0 %}
          <section class="brexit-checker-actions"><a name="business"></a>
            <section class="brexit-checker-audience">
              <section class="brexit-checker-actions__group">
                <div class="govuk-grid-row">

                  <aside class="govuk-grid-column-one-third" aria-label=" ">
                    &nbsp;

                  </aside>

                  <div class="govuk-grid-column-two-thirds">
                    {% for item in finance %}
                    {% include 'includes/result_item.html' %}
                    {% endfor %}
                  </div>

                </div>
              </section>
            </section>
          </section>
          {% endif %}
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Legal ({{ legal | length }})
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-2">
          {% if legal.length>0 %}
          <section class="brexit-checker-actions"><a name="business"></a>
            <section class="brexit-checker-audience">
              <section class="brexit-checker-actions__group">
                <div class="govuk-grid-row">

                  <aside class="govuk-grid-column-one-third" aria-label=" ">
                    &nbsp;

                  </aside>

                  <div class="govuk-grid-column-two-thirds">
                    {% for item in legal %}
                    {% include 'includes/result_item.html' %}
                    {% endfor %}
                  </div>

                </div>
              </section>
            </section>
          </section>
          {% endif %}
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Events ({{ events | length }})
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-3">
          {% if events.length>0 %}
          <section class="brexit-checker-actions"><a name="business"></a>
            <section class="brexit-checker-audience">
              <section class="brexit-checker-actions__group">
                <div class="govuk-grid-row">

                  <aside class="govuk-grid-column-one-third" aria-label=" ">
                    &nbsp;

                  </aside>

                  <div class="govuk-grid-column-two-thirds">
                    {% for item in events %}
                    {% include 'includes/result_item.html' %}
                    {% endfor %}
                  </div>

                </div>
              </section>
            </section>
          </section>
          {% endif %}
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Premises ({{ premises | length }})
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-4">
          {% if premises.length>0 %}
          <section class="brexit-checker-actions"><a name="business"></a>
            <section class="brexit-checker-audience">
              <section class="brexit-checker-actions__group">
                <div class="govuk-grid-row">

                  <aside class="govuk-grid-column-one-third" aria-label=" ">
                    &nbsp;

                  </aside>

                  <div class="govuk-grid-column-two-thirds">
                    {% for item in premises %}
                    {% include 'includes/result_item.html' %}
                    {% endfor %}
                  </div>

                </div>
              </section>
            </section>
          </section>
          {% endif %}
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              General Support ({{ support | length }})
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-4">
          {% if support.length>0 %}
          <section class="brexit-checker-actions"><a name="business"></a>
            <section class="brexit-checker-audience">
              <section class="brexit-checker-actions__group">
                <div class="govuk-grid-row">

                  <aside class="govuk-grid-column-one-third" aria-label=" ">
                    &nbsp;

                  </aside>

                  <div class="govuk-grid-column-two-thirds">
                    {% for item in support %}
                    {% include 'includes/result_item.html' %}
                    {% endfor %}
                  </div>

                </div>
              </section>
            </section>
          </section>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

</div>


{% endblock %}