{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layout_unbranded2.2.html" %}

{% block pageTitle %}
Finance and support for your business
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha_2.2.html" %}
{{ super() }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Business and self-employed</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Factsheet</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<!-- 
  <div class="featured-header">
  </div>
 -->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Resources in {{ location.LA }}
    </h1>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>

</div>





<div class="govuk-grid-row">
  <aside class="footer-bar">
    <div class="content-wrapper">
      <h3 class="footer-bar__title">Measure your productivity today</h3>
      <div class="footer-bar__tagline">
        <p>
          If you know how well your business is performing,
          you can make informed decisions about the future.
          Find out how your productivity compares with that of similar businesses.
        </p>
      </div>
      <h5 class="footer-bar__telephone">Call an advisor: 03330 00 00 39</h5>
      <a href="https://app2.bethebusiness.com/benchmark" class="footer-bar__link button secondary">
        Benchmark your productivity
      </a>
    </div>
  </aside>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <p class="lead">
      For businesses either in the {{ location.LEP }} region or thinking of locating here,
      the Growth Hub can help make sure you have the support you need to grow.
    </p>

    {% include 'includes/custom_low.html' %}
  </div>


  <div class="govuk-grid-column-one-third">
    <div class="page-sidebar">
      <section id="text-5" class="widget widget_text">
        <h4 class="widget-title">Contact The Growth Hub</h4>
        <div class="textwidget">
          <p>To speak to one of our advisors, call:</p>
          <h4>03330 00 00 39</h4>
          <p>or email:<br>
            <a href="mailto:growthhub@sheffieldcityregion.org.uk">growthhub@sheffieldcityregion.org.uk</a></p>
        </div>
      </section>
    </div>
  </div>

</div>


<div class="govuk-grid-row">

<!-- 

  <section class="brexit-checker-audience">
    <header>
      <h2 class="govuk-heading-l action-audience__heading">
        Further support for {{ location.LEP }}
      </h2>
    </header>
    <section class="brexit-checker-actions__group">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        </div>

        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-grid-row brexit-checker__action">
            <div class="brexit-checker__content-wrapper">
              <p class="govuk-body brexit-checker__action_title">
                {{ location.LEP }} Growth hub
              </p>
   
              <p class="govuk-body">
                For pre-start, start-up and established businesses
              </p>
              <p class="govuk-body">
                {{ location.LEP }} Growth Hub & Skills Hub helps eligible businesses to identify and access the right
                support. The Growth Hub focuses on services for very early stage businesses, while the Skills Hub
                supports established companies with five or more employees.
              </p>
              <p class="govuk-body">
                Services include:
              </p>
              <ul class="govuk-list govuk-list--bullet">

                <li class="">
                  Access to and entry into a local business directory
                </li>
                <li class="">Access to guidance on regulation and environmental sustainability
                </li>
                <li class=""> Finding training to upskill or expand a team and improve productivity (Skills Hub)
                </li>
                <li class="">Finding affordable training, workshop and recruitment providers (Skills Connectors)
                </li>
                <li class="">A business skills review and personalised template for HR processes and policies (Skills
                  Toolkit)
                </li>
              </ul>

              <div class="govuk-body govuk-!-font-size-16">
                <p>
                  More information:
                </p>
                <p class="document-list__item-description">Website: <a href="//{{ location.url }}"
                    target="_blank">{{ location.url }}</a></p>
                <p class="document-list__item-description">Telephone: {{ location.telephone }}</p>
                <p class="document-list__item-description">Email: <a
                    href="mailto:{{ location.email }}">{{ location.email }}</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </section>


 -->






  <div class="govuk-!-padding-bottom-9"></div>

</div>



{% endblock %}