{% from "govuk/components/table/macro.njk" import govukTable %}

{% if isGOVUK %}
{% extends "layout.html" %}
{% else %}
{% extends "layout_business_support.html" %}
{% endif %}

{% block pageTitle %}
Finance and support for your business
{% endblock %}

{% block header %}
{% if isGOVUK %}
{% include "includes/headerGOV.html" %}
{% else %}
{% include "includes/header_business_support.html" %}
{% endif %}
{% endblock %}

{% block beforeContent %}
{% if isGOVUK %}
{% include "includes/banner_alpha_2.html" %}
{% else %}
{% include "includes/banner_alpha_2.1.html" %}
{% endif %}
{{ super() }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Business and self-employed</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Recommendations</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <h1 class="govuk-heading-xl">
   Improve the performance of your business
  </h1>



    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#early">
            Early Stage
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#mature">
            Mature
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#fast">
            Fast growing
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="early">
        <h2 class="govuk-heading-l">Early Stage</h2>
        
        <p class="govuk-body-l">
          Because you said _____________, we're suggesting support for early stage business.
        </p>
        
        <h2 class="govuk-heading-m">Make sure you are operating legally</h2>
 
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="" href="">Setting up a business</a></li>
          <li><a class="" href="">Mentor</a></li>
          <li><a class="" href="">BSH</a></li>
        </ul>
        
        <p class="govuk-body">Grow your local network</p>
 
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="" href="">Local Growth Hub</a></li>
        </ul>


    
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mature">
        <h2 class="govuk-heading-l">Mature</h2>

    
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="fast">
        <h2 class="govuk-heading-l">Fast growing</h2>

    
      </section>

    </div>
    
  <div>
    <p class="govuk-body">What else are you looking for? 
      <form id="main" action="" class="form" novalidate>
        <input class="govuk-input govuk-input--width-10" type="text" id="what_else" name="what_else" value="" placeholder=""/>
        <button type="submit" class="govuk-button" id="submit">
          >
        </button>
      </form>
    </p>
  </div>


    <div class="bookmark">
   
        <h5 class="govuk-heading-m">Sign up to our newsletter for {{ stage }} businesses</h5>
        <form id="main" action="" class="form" novalidate>
          <input class="govuk-input govuk-input--width-10" type="text" id="email" name="email" value="name@biz.co.uk" placeholder="name@biz.co.uk"/>
          <br/>
          <br/>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </p>

          <button type="submit" class="govuk-button" id="submit">
            Subscribe
          </button>
        </form>
   
    </div>


</div>

<p class="govuk-body govuk-!-margin-bottom-9"></p>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
     <!--  Further recommendations -->
    </h2>
  </div>
  <div class="govuk-grid-column-one-third">
  </div>
</div>

{% endblock %}


{% block footer %}
  {% include "includes/footer3.0.html" %}
{% endblock %}