{% from "govuk/components/table/macro.njk" import govukTable %}

{% if isGOVUK %}
{% extends "layout.html" %}
{% else %}
{% extends "layout_business_support.html" %}
{% endif %}

{% block pageTitle %}
Finance and support for your business
{% endblock %}

{% block header %}
{% if isGOVUK %}
{% include "includes/headerGOV.html" %}
{% else %}
{% include "includes/header_business_support.html" %}
{% endif %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha_3.0.html" %}

{{ super() }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Business and self-employed</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Recommendations</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <h1 class="govuk-heading-xl">
    Improve the performance of your business
  </h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>

    <ul class="govuk-tabs__list">
      {% if business.stageIndex==0 %}
      {% include "includes/tab_link_early.html" %}
      {% include "includes/tab_link_mature.html" %}
      {% include "includes/tab_link_fast.html" %}
      {% endif %}

      {% if business.stageIndex==1 %}
      {% include "includes/tab_link_mature.html" %}
      {% include "includes/tab_link_early.html" %}
      {% include "includes/tab_link_fast.html" %}
      {% endif %}

      {% if business.stageIndex==2 %}
      {% include "includes/tab_link_fast.html" %}
      {% include "includes/tab_link_early.html" %}
      {% include "includes/tab_link_mature.html" %}
      {% endif %}
    </ul>

    {% if business.stageIndex==0 %}
    {% include "includes/section_early.html" %}
    {% include "includes/section_mature.html" %}
    {% include "includes/section_fast.html" %}
    {% endif %}

    {% if business.stageIndex==1 %}
    {% include "includes/section_mature.html" %}
    {% include "includes/section_early.html" %}
    {% include "includes/section_fast.html" %}
    {% endif %}

    {% if business.stageIndex==2 %}
    {% include "includes/section_fast.html" %}
    {% include "includes/section_early.html" %}
    {% include "includes/section_mature.html" %}
    {% endif %}

  </div>




  <div class="bookmark">

    <h5 class="govuk-heading-m">Subscribe to our business support newsletter</h5>
    <form id="main" action="" class="form" novalidate>
      <p>
        We'll only use this to send you business-related content.
      </p>
      <input class="govuk-input govuk-input--width-10" type="text" id="email" name="email" value="name@business.co.uk"
        placeholder="name@business.co.uk" />
      <br />
      <br />
      <p>
        Our monthly email highlights which new schemes and resources might be of use to businesses like yours. 
      </p>

      <button type="submit" class="govuk-button" id="submit">
        Subscribe
      </button>
    </form>

  </div>


</div>

<p class="govuk-body govuk-!-margin-bottom-9"></p>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <!--  Further recommendations -->
    </h2>
  </div>
  <div class="govuk-grid-column-one-third">
  </div>
</div>

{% endblock %}


{% block footer %}
{% include "includes/footer3.0.html" %}
{% endblock %}