{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout_unbranded.html" %}
{% block pageTitle %}
  Error: Business Support Alpha
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha_2.html" %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sorry this prototype service is unavailable
      </h1>

      {{ govukErrorSummary({
        titleText: "Error message",
        errorList: [
          {
            text: content.error.message
          }
        ]
      }) }}
      <p>Please contact <a href="mailto:business-support-alpha@notbinary.co.uk">notbinary.co.uk</a> for support.</p>
    </div>
  </div>

{% endblock %}