{% extends "layout_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      BEIS Business Support Alpha
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>

    <p>
      Built using the GOV.UK Prototype Kit {{releaseVersion}}
    </p>
    <p>
      <a href="/nl">LATEST: v2.0 Prototype (Natural Language)</a>
    </p>
    <p>
      <a href="/hmrc_ad">v2.0 example flow from GOV.uk touch point</a>
    </p>
    <p>
      <a href="/growing-your-business">v1.1 Prototype (Fund finder)</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible">
    <p></p>
    <h2 class="govuk-heading-m">About this page</h2>

    <p>This page shows the various prototypes created for the BEIS Business Support alpha.</p>

    <p>In line with the
      <a href="https://design-system.service.gov.uk">
        GOV.UK Design System
      </a>, the development is carried out in the open
      and all the code is
      <a href="https://github.com/notbinary/business-support-alpha">available on Github</a>
      .</p>

    <p>The latest version of the
      <a href="https://govuk-prototype-kit.herokuapp.com/docs">
        Prototype kit
      </a>
      can be found here.
    </p>
    
  </div>
</div>

{% endblock %}