{% extends "layout.html" %}

{% block pageTitle %}
Business Support Alpha
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      BEIS Business Support Alpha
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>

    <p class="gov-body">LATEST:
      <ul class="govuk-list-bullets">
        <li>
          <a href="/v3/">v3.0 - Business support</a>
          <br/>
          <a href="/v3/recommendations">results page</a>
          <p>Filters:
            <br/>
            less than 3 years - "Early stage"
            <br/>
            turnover greater than £200k and rapidly growing - "Fast growth"
            <br/>
            otherwise classed as "Mature"
            </p>

        </li>
        
        <li>
          <a href="/v2.1.1/">v2.1.1 - Business support</a>
          <p>Revised content across all page, extra questions on Growth hub page</p>
        </li>
        
        <li>
          <a href="/gov/">v2.1.1 - GOV.UK</a>
          <p>GOV.UK branded version of 2.1.1</p>
        </li>

        <li>
          <a href="/expt_3/">Quick proof of concept: single result</a>
          <p>Highly tailored, single result based on interest (exporitng, funding, productivity, etc). First four option produce custom content</p>
        </li>
      </ul>
    </p>
    <p class="gov-body">
      Version 2 Branches:
      <ul class="govuk-list-bullets">
        <li>
          <a href="/nl-pre-start">Pre-start/early stage</a>
          | <a href="/v2.1/nl-pre-start">v2.1</a>
          | <a href="/v2.2/nl-pre-start">v2.2</a>
          | <a href="/v2.1.1/pre-start">Latest</a>
          <p>Companies trading under a year with country-specific links</p>
        </li>
        <li>
          <a href="/nl-growth-hub">Growth Hub</a>
          | <a href="/v2.1/nl-growth-hub">v2.1</a>
          | <a href="/v2.2/nl-growth-hub-details">v2.2</a>
          | <a href="/v2.1.1/growth-hub">Latest</a>
          <p>Target audience - more than 5 staff; over 2 years old; turnover> £200k and increasing; plus innovative,
            competitive or profit-focused</p>
        </li>
        <li>
          <a
            href="/v2.1.1/results?nl_description=_unchecked&nl_description=investment+potential&nl_description=developing+funding+applications&nl_description=marketing">Growth
            Hub Results</a>
          <p>Sample results for multiple selections: investment potential, developing funding applications and marketing
          </p>
        </li>
        <li>
          <a href="/nl-recommendations">Recommendations</a>
          | <a href="/v2.1/nl-columns">v2.1</a>
          | <a href="/v2.2/nl-recommendations">v2.2</a>
          | <a href="/v2.1.1/recommendations">Latest</a>
          <p>All others</p>
        <li>
          <a href="/nl-country">Postcodes in Scotland, Wales and N Ireland</a>
          | <a href="/v2.1/nl-country">v2.1</a>
          | <a href="/v2.2/nl-country">v2.2</a>
          | <a href="/v2.1.1/country">Latest</a>
          <p>Country specific page</p>
        </li>
      </ul>
    </p>

    <p class="gov-body">
      Previous:
      <ul class="govuk-list-bullets">
        <li>
          <p><a href="/v2.2/nl">v2.2 Growth hub filtering</a></p>
        </li>
        <li>
          <p><a href="/v2.1/nl">v2.1 Business Support</a></p>
        </li>
        <li>
          <p><a href="/nl">v2.0 White Label</a></p>
        </li>
        <li>
          <p><a href="/hmrc_ad">v2.0 example flow from GOV.uk touch point</a></p>
        </li>
        <li>
          <p><a href="/growing-your-business">v1.1 Prototype (Fund finder)</a></p>
        </li>
      </ul>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible">

    <p></p>
    <h2 class="govuk-heading-m">About this page</h2>

    <p>This page shows the various prototypes created for the BEIS Business Support Alpha.</p>

    <p>In line with the
      <a href="https://design-system.service.gov.uk">
        GOV.UK Design System</a>, the development is carried out in the open
      and all the code is
      <a href="https://github.com/notbinary/business-support-alpha">available on Github</a>
      .</p>

    <p>The latest version of the
      <a href="https://govuk-prototype-kit.herokuapp.com/docs">
        Prototype kit
      </a>
      can be found here. These prototypes were built using version {{releaseVersion}}
    </p>

  </div>
</div>

{% endblock %}