{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Your Growth Hub
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha_2.html" %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" id="">Speak to a business adviser in {{display.region_name | capitalize}}</h1>

        <div class="govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
            
          <p>
            Because you’re [i.e. a sole trader] interested in [i.e. hiring more staff], you may benefit from speaking with a free business adviser at your local Growth Hub. 
          </p>
          <p>
            Your advisor will get to know your business and make tailored recommendations to help you grow and achieve your goals. They will also help you find further support that is suitable for your business. 
          </p>
          <p>
            View availability and book a meeting with your business advisor.
          </p>
<!--             
            <p>
                You can get personal support and advice for your business at 
                <a href="{{ display.region_url }}" target="_blank"> {{ display.region_name }} Growth Hub</a>.
            </p>
 -->            
            <p class="document-list__item-description">Website: <a href="https://www.ciosgrowthhub.com/" target="_blank">https://www.ciosgrowthhub.com/</a></p>
             
            <p class="document-list__item-description">Telephone: 01209 708660</p>            
            
            <p class="document-list__item-description">Email: <a href="mailto:hello@ciosgrowthhub.com">hello@ciosgrowthhub.com</a></p>
            
          
        </div>
      
    </div>

    
    <div class="govuk-grid-column-one-third">
        <p>
            <!-- Inspirational copy goes here. -->
        </p>
    </div>

  </div>
{% endblock %}
