{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Your Growth Hub
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" id="wales">2. A growth hub for your business</h1>

        <div class="govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
            
            <p>
              Are you ready to take your business to the next level but not sure how to get there? 
              Want to grow but lack the skills to make it happen? 
              Perhaps you need a helping hand but are unsure which way to turn. 
              We are two projects working hand-in-hand to help businesses realise their star potential&hellip;.
            </p>
            
            <p>
                You can get personal support and advice for your business at 
                <a href="{{ display.region_url }}" target="_blank"> {{ display.region_name }} Growth Hub</a>.
            </p>
        </div>
      
    </div>

    
    <div class="govuk-grid-column-one-third">
        <p>
            Inspirational copy goes here.
        </p>
    </div>

  </div>
{% endblock %}
