{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Finance and support for your business
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha_2.html" %}
{{ super() }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Business and self-employed</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Factsheet</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Resources for  {{ location.LA }}
      </h1>

      <aside class="" role="complementary">
        <nav class="part-navigation govuk-!-padding-bottom-3" aria-label="Pages in this guide" role="navigation" >
          <h3 class="govuk-heading-s  govuk-!-font-size-1">Contents</h3>
          <ul class="govuk-list govuk-!-font-size-16">
            {% if support.length>0 %}
              <li class="">
                <a class="govuk-link " href="#business">Business Support ({{ support | length }})</a>
              </li>
            {% endif %}
            {% if legal.length>0 %}
              <li class="">
                <a class="govuk-link " href="#legal">Legal Support ({{ legal | length }})</a>
              </li>
            {% endif %}
            {% if finance.length>0 %}
              <li class="">
                <a class="govuk-link "  href="#finance">Sources of Finance ({{ finance | length }})</a>
              </li>
            {% endif %}
            {% if events.length>0 %}
              <li class="">
                <a class="govuk-link " href="#events">Events and networking ({{ events | length }})</a>
              </li>
            {% endif %}
              {% if premises.length>0 %}
              <li class="">
                <a class="govuk-link " href="#premises">Premises ({{ premises | length }})</a>
              </li>
              {% endif %}
          </ul>
        </nav>
        </aside>
    </div>
    <div class="govuk-grid-column-one-third">
      <!-- <a href='#'>Apply for a Start Up Loan for your business</a> -->
    </div>
  </div>

  
  <div class="govuk-grid-row">

    <section class="brexit-checker-audience">
      <header>
        <h2 class="govuk-heading-l action-audience__heading">
          {{ location.LEP }} Growth Hub
        </h2>
      </header>
        <section class="brexit-checker-actions__group">
          <div class="govuk-grid-row">
            <aside class="govuk-grid-column-one-third" aria-label="business-actions-criteria">
              <p class="govuk-body brexit-checker__critera_explaination">
                Because you said:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                  <li class="">
                    You are interested in {{ display.aim }}
                  </li>
              </ul>
            </aside>
  
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-grid-row brexit-checker__action">
                <div class="brexit-checker__content-wrapper">
                  <p class="govuk-body brexit-checker__action_title">
                    {{ location.LEP }} Growth hub
                  </p>
                  <!-- <p>
                    {{ location.LEP }} | {{ location.LA }} |  {{ location.ONS }}
                  </p> -->
                    <p class="govuk-body">
                    For pre-start, start-up and established businesses
                    </p>
                    <p class="govuk-body">
                      {{ location.LEP }} Growth Hub & Skills Hub helps eligible businesses to identify and access the right support. The Growth Hub focuses on services for very early stage businesses, while the Skills Hub supports established companies with five or more employees.
                      </p>
                      <p class="govuk-body">
                        Services include:
                      </p>
                      <ul class="govuk-list govuk-list--bullet">
                       
                        <li class="">
                        Access to and entry into a local business directory
                        </li>
                        <li class="">Access to guidance on regulation and environmental sustainability
                        </li>
                        <li class=""> Finding training to upskill or expand a team and improve productivity (Skills Hub)
                        </li>
                        <li class="">Finding affordable training, workshop and recruitment providers (Skills Connectors)
                        </li>
                        <li class="">A business skills review and personalised template for HR processes and policies (Skills Toolkit)
                        </li>
                      </ul>
                        
                    <div class="govuk-body govuk-!-font-size-16">
                      <p>
                        More information:
                      </p>
                      <p class="document-list__item-description">Website: <a href="//{{ location.url }}" target="_blank">{{ location.url }}</a></p>
                      <p class="document-list__item-description">Telephone: {{ location.telephone }}</p>            
                      <p class="document-list__item-description">Email: <a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
                    </div>
                </div>
              </div>
            </div>

          </div>
        </section>
    </section>

    
    {% if support.length>0 %}
    <section class="brexit-checker-actions"><a name="business"></a>
      <header>
        <h2 class="govuk-heading-l action-audience__heading">
          Business Support
        </h2>
      </header>
      <section class="brexit-checker-audience">
          <section class="brexit-checker-actions__group" >
            <div class="govuk-grid-row">

              <aside class="govuk-grid-column-one-third" aria-label=" ">
                {% if totalSupport>5 %}
                  <h3 class="govuk-heading-m">Showing 5 of {{totalSupport}} items</h3>
                  {% endif %}
                <p class="govuk-body brexit-checker__critera_explaination">
                  Because you said:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li class="">
                      You are interested in {{ display.aim }}
                    </li>
                    <!-- <li class="">
                      Get help for a {{ display.businessType }}
                    </li>
                    <li class="">
                      Something for {{ display.business_stages | capitalize }} businesses
                    </li> -->
                </ul>
              </aside>
    
              <div class="govuk-grid-column-two-thirds">
                {% for item in support %}
                  {% include 'includes/result_item.html' %} 
                {% endfor %}
              </div>
    
            </div>
          </section>
        </section>
    </section>
    {% endif %}
    
    {% if legal.length>0 %}
    <section class="brexit-checker-actions"><a name="legal"></a> 
      <header>
        <h2 class="govuk-heading-l action-audience__heading">
          Legal Support
        </h2>
      </header>
      <section class="brexit-checker-audience">
          <section class="brexit-checker-actions__group" >
            <div class="govuk-grid-row">

              <aside class="govuk-grid-column-one-third" aria-label="">
                  <h3 class="govuk-heading-m"> </h3>
                <p class="govuk-body brexit-checker__critera_explaination">
                  Because you said:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li class="">
                      You are interested in {{ display.aim }}
                    </li>
                </ul>
              </aside>
    
              <div class="govuk-grid-column-two-thirds">
                 {% if legal.length %}
                  {% for item in legal %}
                    {% include 'includes/result_item.html' %}
                  {% endfor %}
                {% else %}

                <p class="govuk-body brexit-checker__critera_explaination">
                  No results for {{ display.business_stages }} businesses.
                </p>
                {% endif %}
              </div>
    
            </div>
          </section>
        </section>
    </section>
    {% endif %}
    
    {% if finance.length>0 %}
    <section class="brexit-checker-actions"><a name="finance"></a> 
      <header>
        <h2 class="govuk-heading-l action-audience__heading">
          Sources of Finance
        </h2>
      </header>
      <section class="brexit-checker-audience">
          <section class="brexit-checker-actions__group" >
            <div class="govuk-grid-row">

              <aside class="govuk-grid-column-one-third" aria-label=" ">
                  <h3 class="govuk-heading-m"> </h3>
                <p class="govuk-body brexit-checker__critera_explaination">
                  Because you said:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li class="">
                      You are interested in {{ display.aim }}
                    </li>
                </ul>
              </aside>
    
              <div class="govuk-grid-column-two-thirds">
                {% for item in finance %}
                  {% include 'includes/result_item.html' %}
                {% endfor %}
              </div>
    
            </div>
          </section>
        </section>
    </section>
    {% endif %}
    
    {% if events.length>0 %}
    <section class="brexit-checker-actions"><a name="events"></a> 
      <header>
        <h2 class="govuk-heading-l action-audience__heading">
          Events and Networking
        </h2>
      </header>
      <section class="brexit-checker-audience">
          <section class="brexit-checker-actions__group">
            <div class="govuk-grid-row">

              <aside class="govuk-grid-column-one-third" aria-label=" ">
                  <h3 class="govuk-heading-m"> </h3>
                <p class="govuk-body brexit-checker__critera_explaination">
                  Because you said:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li class="">
                      You are interested in {{ display.aim }}
                    </li>
                </ul>
              </aside>
    
              <div class="govuk-grid-column-two-thirds">
                {% for item in events %}
                  {% include 'includes/result_item.html' %}
                {% endfor %}
              </div>
    
            </div>
          </section>
        </section>
    </section>
    {% endif %}

    {% if premises.length>0 %}   
    <section class="brexit-checker-actions"><a name="premises"></a> 
      <header>
        <h2 class="govuk-heading-l action-audience__heading">
          Premises
        </h2>
      </header>
      <section class="brexit-checker-audience">
          <section class="brexit-checker-actions__group">
            <div class="govuk-grid-row">

              <aside class="govuk-grid-column-one-third" aria-label=" ">
                  <h3 class="govuk-heading-m"> </h3>
                <p class="govuk-body brexit-checker__critera_explaination">
                  Because you said:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li class="">
                      You are interested in {{ display.aim }}
                    </li>
                </ul>
              </aside>
    
              <div class="govuk-grid-column-two-thirds">
                {% for item in premises %}
                <div class="govuk-grid-row brexit-checker__action">
                  <div class="brexit-checker__content-wrapper">
                    <p class="govuk-body brexit-checker__action_title">
                      {{item.title}}, {{ item.category }}
                    </p>
              
                    {{item.description | safe}}
              
                      <div class="govuk-body govuk-!-font-size-16">
                        <p>
                          More information:
                        </p>
                        {% if item.eligibility %}
                        <p class="document-list__item-description">Eligibility: {{item.eligibility}}</p>
                        {% endif %}
                        {% if item.eligibility %}
                        <p class="document-list__item-description">Website: <a href="{{item.website}}" target="_blank">{{item.website}}</a></p>
                        {% endif %}
                        {% if item.telephone %}
                        <p class="document-list__item-description">Telephone: {{item.telephone}}</p>
                        {% endif %}
                        {% if item.email %}
                        <p class="document-list__item-description">Email: <a href="mailto:{{item.email}}">{{item.email}}</a></p>
                        {% endif %}
                      </div>
                  </div>
                </div>
                {% endfor %}
              </div>
    
            </div>
          </section>
        </section>
    </section>
    {% endif %}


    <div class="govuk-!-padding-bottom-9"></div>

    <!-- <div class="govuk-grid-column-two-thirds">
      {% if not results.length %}
      <p>No results found</p>

      {% else %}


      <ol class="document-list">
        
        {% for item in results %}
        <li class="document-list__item">
          <a class="document-list__item-title  document-list__item-link"  href="#">{{item.title}}</a>
          {% if item.who %}
            <p class="document-list__item-description">Who: 
              {% for list in item.who %}
                {{list}}, 
              {% endfor %}
            </p>
          {% endif %}
          {% if item.eligibility %}
          <p class="document-list__item-description">Eligibility: {{item.eligibility}}</p>
          {% endif %}
          <p class="document-list__item-description">{{item.description}}</p>
          <p class="document-list__item-description">Website: <a href="{{item.website}}" target="_blank">{{item.website}}</a></p>
          <p class="document-list__item-description">Telephone: {{item.telephone}}</p>
          {% if item.email %}
          <p class="document-list__item-description">Email: <a href="mailto:{{item.email}}">{{item.email}}</a></p>
          {% endif %}
        </li>
        {% endfor %}
        
      </ol>
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">
        {% include 'includes/related_custom_content.html'%}
    </div> -->
  </div>



{% endblock %}
