<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Natural Language Form</title>
		<meta name="description" content="Natural Language Form with custom text input and drop-down lists" />
		<meta name="keywords" content="Natural Language UI, sentence form, text input, contenteditable, html5, css3, jquery" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
		<link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="public/stylesheets/nl_white.css" />
		<link rel="stylesheet" type="text/css" href="public/stylesheets/nl_component_white.css" />

		<script src="public/javascripts/modernizr.custom.js" type="application/javascript"></script>
	</head>
	<body class="nl-blurred">
		<div class="container demo-1">
			{% block header %}
				{% include "includes/header.html" %}
			{% endblock %}

			<div class="govuk-width-container ">
				{% include "includes/banner_alpha_2.html" %}
			</div>
			

			<header>
				<h1>Tell us about your business</h1>	
			</header>

			<div class="main clearfix">
				<form id="nl-form" class="nl-form" action="nl-branch">
					I'm  
					<select name="nl_type">
						<option value="1" >getting started</option>
						<option value="2">a sole trader</option>
						<option value="3" selected>a business owner</option>
						<option value="4">a business manager</option>
						<option value="5">a partner</option>
					</select >
					
					<br />based in
					<input type="text" name="nl-postcode" value="" placeholder="any region" data-subline="Add your postcode,<br/> eg TR1 1XU."/>.

					<br />The business has 
					<select name="nl_age">
						<option value="1" selected>not started trading</option>
						<option value="2">been trading for under a year</option>
						<option value="3">been trading for 1-2 years</option>
						<option value="4">been trading for 2-5 years</option>
						<option value="5">been trading for over 5 years</option>
					</select>
				
					<br />and employs
					<!-- <select>
						<option value="1" selected>a micro (less than 10 people)</option>
						 <option value="1">small (10 - 49)</option>
						 <option value="2">medium (50 - 499)</option>
						 <option value="3">large (more than 500)</option>
					</select> -->
					<input type="text" name="nl-count" value="" placeholder="10" data-subline="Add how many people work in the buiness."/>
					people.
					
					
					<br />I'm interested in 
					<select name="nl_aim">
						<option value="1" selected>growing the business</option>
					 	<option value="2">new equipment</option>
					 	<option value="3">new staff</option>
					 	<option value="4">research</option>
					 	<option value="5">marketing</option>
					 	<option value="6">cash flow</option>
					</select >.
					<br />
					<!-- I'm feeling 
					<select name="nl_feeling">
						<option value="-1" >inspired</option>
						<option value="0" selected>ok</option>
						<option value="1">mostly on top of it</option>
					 	<option value="2">challenged</option>
					 	<option value="3">stressed</option>
					 	<option value="4">overwhelmed</option>
					 	<option value="5">lucky</option>
					</select >
					 -->
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Let's Grow!</button>
					</div>
					<br/>
					<br/>
					<br/>
					<div class="nl-overlay"></div>
				</form>
			</div>
		</div><!-- /container -->
		<script src="public/javascripts/nlform.js" type="application/javascript"></script>
		<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>
		{% include "includes/footer.html" %}

	</body>
</html>